In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver  
import pandas as pd
import time

In [8]:
url = 'https://welcomesaudi.com/restaurant'
page = requests.get(url)
print(page.status_code)

200

In [122]:
driver = webdriver.Chrome()
url = 'https://welcomesaudi.com/restaurant'
columns_ = ['Name','Cuisines', 'City', 'Rating', 'NumberOfReviews']
df = pd.DataFrame(columns=columns_)

for i in range(2, 58):

    # request the page 
    driver.get(url)
    time.sleep(5)
    # extract the body and parse it
    soup = BeautifulSoup(driver.page_source, "html.parser")

    # extrace prices and ars names from page
    
    Name = soup.find_all('h5', {'class':"item-title"})
    Cuisines = soup.find_all('div', {'class':'cuisines'})
    City = soup.find_all('div', {'class':'location'})
    Rating = soup.find_all('span', {'class':'rate text-success'})
    NumberOfReviews = soup.find_all('span', {'class':'review'})
    
    
    clean_names = []
    clean_cuisines = []
    clean_City = []
    clean_ratings = []
    clean_NumberOfReviews = []
    
    for n, c, s, r, o in zip( Name, City, Cuisines, Rating, NumberOfReviews):
        clean_names.append(n.text.strip())
        clean_City.append(c.text)
        clean_cuisines.append(s.text)
        clean_ratings.append(r.text)
        clean_NumberOfReviews.append(o.text)
        
       

        
    # store them 
    new_rows_df = pd.DataFrame(
        {
                'Name': clean_names,
                'City' : clean_City,
                'Cuisines' : clean_cuisines,
                'Rating' : clean_ratings,
                'NumberOfReviews': clean_NumberOfReviews
                
                

        })

    df = pd.concat([df, new_rows_df], ignore_index=True)

    # prepare new link
    url = f'https://welcomesaudi.com/restaurant?query=&page={i}'
driver.quit()

In [124]:
df

,Name,Cuisines,City,Rating,NumberOfReviews
0,Wakame - Riyadh,"\n\n Japanese, Asian\n ...",\n\n\n Riyadh\n ...,\n4.9\n,\n (\n ...
1,Morini Italian Restaurant - Jareed Hotel - Riyadh,"\n\n International, Italian...",\n\n\n Riyadh\n ...,Very Good,\n (\n ...
2,Wakame - Jeddah,"\n\n Chinese, Japanese\n ...",\n\n\n Jeddah\n ...,\n4.8\n,\n (\n ...
3,Il Baretto Italian Restaurant - KAFD - Riyadh,\n\n Italian\n ...,\n\n\n Riyadh\n ...,Very Good,\n (\n ...
4,Vidro Lounge - Riyadh,"\n\n Mediterranean, Middle ...",\n\n\n Riyadh\n ...,\n4.7\n,\n (\n ...
...,...,...,...,...,...
1364,Fun Time Pizza - Makkah,\n\n American\n ...,\n\n\n Makkah\n ...,Good,\n (\n ...
1365,Al Marwa Restaurant - Safwah Royale Orchid Ho...,"\n\n International, Vegetar...",\n\n\n Makkah\n ...,\n3.3\n,\n (\n ...
1366,Mink Restaurant - International Cuisine - Riyadh,"\n\n International, Italian...",\n\n\n Riyadh\n ...,Good,\n (\n ...
1367,Park Inn By Radisson Restaurant - Makkah,"\n\n American, Arabic, Ital...",\n\n\n Makkah\n ...,\n3.2\n,\n (\n ...
1368,Tikka Express Indian Restaurant - Jeddah,\n\n Indian\n ...,\n\n\n Jeddah\n ...,Good,\n (\n ...

In [126]:
df.to_csv('restaurants_data.csv', index=False)